<div class="wrapper">

  <header class="header">
	<div class="stickyanchor">
		<div class="one"></div>
		<div class="two"></div>
		<div class="three"></div>
	</div>

	<div class="menu">
		<div class="i-text">
			<a href="#" class="close">Close</a>
			<p>Male humming birds make the most exquisite rockets. The snake when he walks holds his hands in his pockets.</p>
			<ul>
		        <li><a href="/">Home</a></li>
		        <li><a href="/about">About</a></li>
		    </ul>
		</div>
	</div>

    <a class="logo" href="" title="{{ site.title }}"><img src="/assets/images/typewriter.png"></a>
    <h3>{{ site.title }}</h3>
  </header><!-- .header-->
