<div class="wrapper">

  <header class="header">
	<div class="stickyanchor">
		<div class="one"></div>
		<div class="two"></div>
		<div class="three"></div>
	</div>

	<div class="menu">
		<div class="i-text">
			<a href="#" class="close">Close</a>
			<p>Had a blast shooting the twins Christobal and Isaak in The Hague. Although it was super cold and raining all day, we managed to get great shots and some sick GoPro footage. </p>
			<ul>
		        <li><a href="/">Home</a></li>
		        <li><a href="/about">About</a></li>
		    </ul>
		</div>
	</div>

    <a href="{{ site.baseurl }}/" title="{{ site.title }}"><img src="http://cl.ly/ZdJA/typewriter.png"></a>
    <h3>{{ site.title }}</h3>
  </header><!-- .header-->