---
layout: default
comments: true
---

<article class="post">

	{% assign post = page %}
	{% if post.tags.size > 0 %}
	    {% capture tags_content %} {% if post.tags.size == 1 %} {% else %} {% endif %} {% endcapture %}

		{% for post_tag in post.tags %}
		    {% assign tag = site.data.tags[post_tag] %}

	        {% if tag %}
	            {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ post_tag }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
	            {% assign tags_content = tags_content_temp %}
	        {% endif %}
	    {% endfor %}
	{% else %}
	    {% assign tags_content = '' %}
	{% endif %}
	
	{% assign author = site.data.authors[page.author] %}
	
	{% assign photo = site.data.photo[page.photo] %}

	<header class="post-header">
		<p class="post-title">{{ page.title }}</p>                
		<p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
	</header>

	<section class="post-content">
		{{ content }}
	</section>

	<hr></hr>

	<footer class="post-footer">
		<section class="f-1">
			{% if author %}
				<span class="post-words">Words by <a href="{{ author.web }}">{{ author.name }}</a></span>
			{% endif %}
			{% if photo %}
       				<span class="post-photo">Photo by <a href="{{ photo.web }}">{{ photo.name }}</a></span>
       			{% endif %}
		</section>
		
		<section class="f-2">
			<section class="post-share">
		            	<span>Share:
					<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" title="Share on Twitter"onclick="sharePopup(this.href); return false;">Twitter</a>
					<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" title="Share on Twitter"onclick="sharePopup(this.href); return false;">Facebook</a>
		                </span>
			</section> 
       			<span class="post-tags"># {{ tags_content }}</span>
		</section>
                        
		<!--  comments -->
		{% if page.comments %}
			<div id="disqus_thread"></div>
			<script>
			    (function() {  // DON'T EDIT BELOW THIS LINE
			        var d = document, s = d.createElement('script');
			        
			        s.src = '//typetowrite.disqus.com/embed.js';
			        
			        s.setAttribute('data-timestamp', +new Date());
			        (d.head || d.body).appendChild(s);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}
	</footer>
</article>
